body{
    /*Es el tipo de letra */
    font-family: Arial, Helvetica, sans-serif;
    /*color de fondo*/
    background: radial-gradient(circle, #06202B, black 70%);
    /*color de texto*/
    color: #ffffff;
    /*espacio entre linea y linea*/
    line-height: 1.6;
    /*Es el espacio entre el borde y la parte externa*/
    margin: 0;
    /*distancia que hay en la parte interna del borde*/
    padding: 0;
    /*que se comporte como una cuadricula*/
    display: grid;
    /*El largo minimo se acomode de forma automática*/
    min-height: 100vh;
    /* Disposición de las filas */
    grid-template-rows: auto 1fr auto;
}

.fondo-2{
    font-family: Arial, Helvetica, sans-serif;
    /*color de fondo*/
    background: url(../img/mar7.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 20px rgba(1, 104, 247, 0.733); 
    /*color de texto*/
    color: #ffffff;
    /*espacio entre linea y linea*/
    line-height: 1.6;
    /*Es el espacio entre el borde y la parte externa*/
    margin: 70px;
    /*distancia que hay en la parte interna del borde*/
    min-height: 100vh;
    border-radius: 30px;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 20px;
}

b{
    color: #000000;
}

.logo a{
    text-decoration: none;
    color: #ffffff;
}

.portafolio{
    /* Disposición en cuadricula */
    display: grid;
    /* distancia entre los elementos */
    gap: 30px;
    /* margin derecha */
    margin-right: 100px;
    margin-left: 100px;
    /* margin arriba */
    margin-top: 70px;
    /* comportamiento de las columnas */
    grid-template-columns: repeat(3, 1fr);
    /* comportamiento del área */
    grid-template-areas:
    "item1 item2 item3"
    "item1 item2 item3"
    "item4 item2 item5";
    /* Comportamiento de las filas */
    grid-template-rows: auto;
    /* Centra los ítems dentro de sus celdas */
    padding-bottom: 20px;
}

/* bautizo de los hijos */
.item:nth-child(1){grid-area: item1;}
.item:nth-child(2){grid-area: item2;}
.item:nth-child(3){grid-area: item3;}

.item:nth-child(2) {
    height: 380px;
    /* color de fondo */
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 58, 91), rgb(0, 0, 0));
    /* borde circular */
    border-radius: 10px;
    /* distancia del borde con el contenido de adentro */
    padding: 5px;
    /* sombra de la caja */
    box-shadow: 0 1px 8px rgb(0, 0, 0);
    /* centra el texto; */
    text-align: center;
    padding: 45px 30px 40px 30px;
    animation: ease-in animat 3s;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.item:nth-child(1) {
    height: 300px;
    /* color de fondo */
    background:url(../img/undimotriz3.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    /* borde circular */
    border-radius: 10px;
    /* distancia del borde con el contenido de adentro */
    padding: 5px;
    /* sombra de la caja */
    box-shadow: 0 1px 8px rgb(0, 0, 0);
    /* centra el texto; */
    animation: ease-in animat 5s;
}

.item:nth-child(3) {
    margin-top: 150px;
    height: 300px;
    background:url(../img/undimotriz2.jpg);
    background-position: cover;
    background-position: center;
    opacity: 0.7;
    /* borde circular */
    border-radius: 10px;
    /* distancia del borde con el contenido de adentro */
    padding: 5px;
    /* sombra de la caja */
    box-shadow: 0 1px 8px rgb(0, 0, 0);
    /* centra el texto; */
    text-align: center;
    animation: ease-in animat 5s;
}

.item>i {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

.item>h3 {
    font-size: 24px;
    margin-top: 10px;
}

.item>p {
    font-weight: 100;
    color: #ffffff;
    margin-top: 5px;
    padding-bottom: 20px;
}

.item>a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    width: 140px;
    display: inline-block;
    background: linear-gradient(to right, rgb(0, 115, 255), rgb(0, 255, 162), rgb(0, 128, 117));
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 8px;
}

.item>a:hover {
    color: #707070;
    transition: color .5s;
}
