* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #06202B, black 70%);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #1d273b;
    font-weight: 300;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1 {
    font-size: 50px;
}

/* Header */

nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 40px;
    justify-content: center;
    align-items: center;
}

.nav .logo h1 b {
    color: #46a2fd;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
}

.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img {
    width: 550px;
    animation: ease-in animat 3s;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}

.contenido-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #0083e0;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 155, 222, 0.592);
}

.titulo {
    font-size: 50px;
}

/* tecnologias usadas */

.tecnologias {
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1600&q=80') no-repeat center center/cover;
}

.contenedor-dispositivo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
    animation: ease-in animat 3s;
}

.dispositivo {
    width: 29%;
    background: #ffffff9a;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.dispositivo:hover {
    box-shadow: 0 4px 10px rgba(2, 4, 7, 0.26);
}

.dispositivo>i {
    background: #000000;
    font-size: 30px;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgb(0, 110, 255);
}

.dispositivo>h3 {
    font-size: 24px;
    margin-top: 30px;
}

.dispositivo>p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.dispositivo>a {
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.dispositivo>a:hover {
    color: #1FDE82;
    transition: color .5s;
}

img {
    height: 400px;
    width: 400px;
    margin-top: 50px;
    border-radius: 600px;
}                                                                                                                                                                                                  
